langchain
python-dotenv
langchain_community
ipynb
pypdf
bs4
wikipedia
langchain-text-splitters
langchain-openai
langchain-openai
beautifulsoup4
faiss-cpu
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
arxiv
duckduckgo-search
